<h1 class="text-center mt-4">Available Articles</h1>
<div class="container" id="articles-container">
<% @articles.each do |article| %>
    <div class="card shadow mb-3 bg-body rounded justify-content-md-center">
        <span class="card-header font-italic text-center">By Abner del Cid <%= time_ago_in_words article.created_at %> ago</span>
        <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article, class:"text-success" %></h5>
            <p class="card-text"><%= article.description[0..30] %>... <%= link_to 'show more', article, class:"btn btn-outline-success" %></p>
            
            <%= link_to 'Delete', article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger"  %>
            <%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-warning"  %>
        </div>
    </div>
<% end %>
</div>
